/* General style for all screens */
/*@media screen {
    body, p, h1, h2, h3, h4, h5, ul, li, header, section, aside, div, img {
        margin: 0;
        padding: 0;
    }

    body {
        background-image: url("../images/gloomy_grey_by_weissglut_d4tvhcx-fullview.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;

        color: #b0b0b0;

        display: grid;
    }

    strong {
        color: #d0d0d0;
    }

    h3 {
        color: #cccccc;
    }

    .links {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        background: transparent;
    }

    a {
        color: inherit;
    }

    .nav {
        font-size: 1.1em;

        position: fixed;
        top: 0;
        width: 100%;
        max-height: 45px;

        background-color: #080808;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }

    .nav a {
        list-style: none;
        text-decoration: none;
        display: inline-block;
        padding: 10px 25px 10px 25px;
        background-color: #080808;
    }

    .nav a:hover {
        background-color: #020202;
        color: white;
    }

    header {
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        display: flex;
    }
}*/

/* Style for large desktop screens */
/*@media only screen and (min-width: 1480px) {
    body {
        text-align: justify;
        font-size: 1.1em;

        grid-template-columns: repeat(12, 1fr);
        grid-gap: 10px;
    }

    h1 {
        color: #ffffff;
        font-size: 4.5em;
        margin: 10px 20px 10px 10px;
    }

    h2 {
        margin: 30px 0 30px 0;
        font-size: 2.5em;
        color: #dadada;
        text-align: center;
    }

    h3 {
        font-size: 1.3em;
        text-align: center;
        font-weight: bold;
    }

    h4 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1.1em;
    }

    ul {
        list-style-type: none;
    }

    header {
        grid-column: 2 / 12;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header p {
        display: block;
        width: 50%;
        font-size: 1.5em;
    }

    section {
        grid-column: 2 / 12;
    }

    article {
        margin: 15px 0 15px 0;
        padding: 10px;

        border: 5px #b0b0b0 outset;

        display: flex;
        justify-content: space-between;
    }

    .mainArticlePart {
        margin-left: 10px;
        width: 80%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainArticlePart h3 {
        margin: 5px 0 5px 0;
    }

    .mainArticlePart h4 {
        margin: 5px 0 5px 0;
    }

    .mainArticlePart p {
        margin-top: 10px;
        height: 100%;
    }

    aside {
        margin-left: 10px;
        padding: 10px 0 10px 10px;
        width: 20%;
        border-left: 2px solid #909090;
    }

    aside h4 {
        text-align: center;
        margin-bottom: 15px;
    }

    .asideSection {
        width: 100%;
        margin-top: 15px;
        padding-top: 15px;
        border-top: 2px solid #909090;
    }

    .asideTitle {
        vertical-align: center;
    }

    .asideContent {
        text-align: left;
        padding-left: 0;
    }

    @media only screen and (min-width: 1925px) {
        .asideSection {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-gap: 10px;
        }

        .asideTitle { grid-column: 1 / 5; }
        .asideContent { grid-column: 5 / 11; }
    }

    @media only screen and (max-width: 1924px) {
        .asideSection {
            display: grid;
            grid-template-columns: repeat(25, 1fr);
            grid-gap: 0;
        }

        .asideTitle { grid-column: 1 / 9; }
        .asideContent { grid-column: 9 / 26; }

        .asideList { grid-template-columns: repeat(15, 1fr); }
        .asideListTitle { grid-column: 1 / 9; }
        .asideListContent { grid-column: 9 / 16; }
    }

    footer {
        grid-column: 2 / 12;

        font-size: 1em;
        margin: 50px 0 30px 0;
        padding-top: 15px;

        justify-content: space-between;

        border-top: 2px solid #909090;
    }

    footer img {
        margin: 0 10px 0 10px;
    }
}*/

/* Style for standard desktop screens */
/*@media only screen and (min-width: 901px) and (max-width: 1479px) {
    body {
        text-align: center;
        font-size: 1.2em;

        grid-template-columns: repeat(12, 1fr);
        grid-gap: 10px;
    }

    h1 {
        font-size: 5em;
        margin-bottom: 20px;
    }

    header {
        grid-column: 2 / 12;
        height: 100vh;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 10px;
    }

    .headerAndLinks {
        grid-row: 1 / 4;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .headerAndLinks div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header p {
        grid-row: 4 / 6;
        display: block;
        font-size: 1.5em;
    }

    .links {
        font-size: 1.5em;
        list-style-type: none;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: transparent;
    }

    section {
        grid-column: 2 / 12;
    }

    h2 {
        margin: 30px 0 30px 0;
        font-size: 2.5em;
        color: #dadada;
        text-align: center;
    }

    article {
        margin: 15px 0 15px 0;
        padding: 10px;

        border: 5px #b0b0b0 outset;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    h4 {
        font-size: 1.2em;
        text-align: center;
    }

    h5 {
        font-size: 1.1em;
    }

    .mainArticlePart {
        text-align: center;
    }

    .mainArticlePart h3 {
        font-size: 1.3em;
        font-weight: bold;
    }

    .mainArticlePart p {
        margin: 10px 0 10px 0;
    }

    aside {
        border-top: 2px solid #909090;
    }

    aside h4 {
        margin: 5px 0 5px 0;
        text-decoration: underline;
    }

    .sub-sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: left;
    }

    .asideSection h5,
    .asideSection p,
    .asideSection div
    { display: inline-block; vertical-align: middle; }

    .asideSection h5 { margin-right: 5px;}

    .asideSection ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .asideSection li {
        list-style: none;
    }

    .asideSection li :nth-child(2n+1) {
        grid-column: 1;

        border-right: 1px solid #909090;
        border-bottom: 1px solid #909090;
    }

    .asideSection li :nth-child(2n) {
        display: block;
        grid-column: 2;
    }

    footer {
        grid-column: 2 / 12;

        font-size: 1em;
        margin: 25px 0 30px 0;
        padding-top: 15px;

        justify-content: space-between;

        border-top: 2px solid #909090;
    }

    footer img {
        margin: 0 10px 0 10px;
    }
}*/

/* Style for standard smartphones screens in portrait */
/*@media only screen and (max-width: 900px) and (orientation: portrait) {
    body {
        text-align: center;
        font-size: 1em;

        grid-template-columns: repeat(12, 1fr);
        grid-gap: 10px;
    }

    h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    header {
        grid-column: 1 / 13;
        height: 100vh;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 10px;
        margin: 0 5px 0 5px;
    }

    .headerAndLinks {
        grid-row: 2 / 4;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .headerAndLinks div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header p {
        grid-row: 4 / 5;
        display: block;
    }

    .links {
        list-style-type: none;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: transparent;
    }

    section {
        grid-column: 1 / 13;
        margin: 0 5px 0 5px;
    }

    h2 {
        margin: 30px 0 30px 0;
        font-size: 1.5em;
        color: #dadada;
        text-align: center;
    }

    article {
        margin: 15px 0 15px 0;
        padding: 10px;

        border: 5px #b0b0b0 outset;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    h4 {
        font-size: 1.2em;
        text-align: center;
    }

    h5 {
        font-size: 1.1em;
    }

    .mainArticlePart {
        text-align: center;
    }

    .mainArticlePart h3 {
        font-size: 1.3em;
        font-weight: bold;
    }

    .mainArticlePart p {
        margin: 10px 0 10px 0;
    }

    aside, .asideSection {
        border-top: 2px solid #909090;
    }

    aside h4 {
        margin: 5px 0 5px 0;
        text-decoration: underline;
    }

    .asideSection {
        padding: 10px 0 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: justify;
        align-items: center;
    }

    .firstAsideSection { border: none; }

    .asideSection h5 {
        margin: 0 5px 5px 0;
        text-align: center;
    }

    .asideSection li {
        list-style: none;
    }

    footer {
        grid-column: 1 / 13;

        font-size: 1em;
        margin: 25px 5px 30px 5px;
        padding-top: 15px;

        justify-content: space-between;

        border-top: 2px solid #909090;
    }

    footer img {
        margin: 0 10px 0 10px;
    }
}*/

/* Style for standard smartphones screens in landscape */
/*@media only screen and (max-width: 930px) and (orientation: landscape) {
    body {
        text-align: center;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 5em;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .headerAndLinks {
        height: 100vh;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .headerAndLinks div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header p {
        display: block;
        height: 100vh;
    }

    .links {
        list-style-type: none;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: transparent;
    }

    section {
        margin: 0 5px 0 5px;
    }

    h2 {
        margin: 30px 0 30px 0;
        font-size: 1.5em;
        color: #dadada;
        text-align: center;
    }

    article {
        margin: 15px 0 15px 0;
        padding: 10px;

        border: 5px #b0b0b0 outset;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    h4 {
        font-size: 1.2em;
        text-align: center;
    }

    h5 {
        font-size: 1.1em;
    }

    .mainArticlePart {
        text-align: center;
    }

    .mainArticlePart h3 {
        font-size: 1.3em;
        font-weight: bold;
    }

    .mainArticlePart p {
        margin: 10px 0 10px 0;
    }

    aside, .asideSection {
        border-top: 2px solid #909090;
    }

    aside h4 {
        margin: 5px 0 5px 0;
        text-decoration: underline;
    }

    .asideSection {
        padding: 10px 0 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: justify;
        align-items: center;
    }

    .firstAsideSection { border: none; }

    .asideSection h5 {
        margin: 0 5px 5px 0;
        text-align: center;
    }

    .asideSection li {
        list-style: none;
    }

    footer {
        font-size: 1em;
        margin: 25px 5px 30px 5px;
        padding-top: 15px;

        justify-content: space-between;

        border-top: 2px solid #909090;
    }

    footer img {
        margin: 0 10px 0 10px;
    }
}*/

@media only screen {
    body, ul, li, p, h1, h2, h3, h4, div {
        padding: 0;
        margin: 0;
    }

    body {
        background-image: url("../images/gloomy_grey_by_weissglut_d4tvhcx-fullview.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;

        color: #b0b0b0;

        text-align: justify;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    header {
        height: 100vh;
    }

    h1 { font-size: 4.5em; }

    h2 {
        font-size: 3em;
        text-align: center;
        margin: 25px 0 25px 0;
    }

    ul {
        list-style: none;

        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    ul li {
        display: flex;
        align-items: center;
    }

    a { color: inherit; }
    
    article {
        border: 5px solid #b0b0b0;
        border-radius: 10px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    h3 {
        text-align: center;
    }

    h4 {
        text-align: center;
    }

    article p {
        margin-top: 10px;
    }

    footer {
        display: grid;
        grid-template-columns: 40% 20% 40%;

        padding: 25px 0 10px 0;
        margin: 25px 5px 0 5px;

        border-top: 2px solid #b0b0b0;
    }

    .topPage { text-align: left; }
    .versionNumber { text-align: right; }

    footer div {
        display: flex;
        justify-content: space-between;
        gap: 5px
    }
}

@media only screen and (min-width: 1312px) {
    header {
        grid-column: 2 / 12;

        height: 100vh;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .headerAndLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .links {
        margin-top: 15px;
    }

    header p {
        display: block;
        width: 50%;
        font-size: 1.5em;
    }

    section {
        grid-column: 2 / 12;
    }

    .mainArticlePart {
        grid-column: 1 / 4;
    }

    aside {
        grid-column: 4;

        margin: 5px 0 5px 0;
        padding: 0 10px 0 10px;
        border-left: 2px solid #b0b0b0;
    }

    footer { grid-column: 2 / 12; }
}

@media only screen and (min-width: 992px) and (max-width: 1311px) {
    header {
        grid-column: 2 / 12;

        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .headerAndLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .links {
        margin-top: 15px;
    }

    header p {
        display: block;
        font-size: 1.5em;
    }

    section {
        grid-column: 2 / 12;
    }

    footer { grid-column: 1 / 13; }
}

@media only screen and (min-width: 688px) and (max-width: 991px) {
    header {
        grid-column: 1 / 13;
        padding: 0 10px 0 10px;

        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .headerAndLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .links {
        margin-top: 15px;
    }

    header p {
        display: block;
        font-size: 1.5em;
    }

    section {
        grid-column: 1 / 13;
    }

    footer { grid-column: 1 / 13; }
}

@media only screen and (max-width: 688px) and (orientation: portrait){
    body { text-align: center; }

    header {
        grid-column: 1 / 13;
        padding: 0 10px 0 10px;

        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .headerAndLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    h1 { font-size: 2.3em; }
    h2 { font-size: 1.5em; }

    .links {
        margin-top: 15px;
    }

    header p {
        display: block;
        font-size: 1em;
    }

    section {
        grid-column: 1 / 13;
    }

    footer { grid-column: 1 / 13; }
}

@media only screen and (max-height: 688px) and (orientation: landscape){
    body { text-align: center; font-size: 0.8em;}
    header {
        grid-column: 1 / 13;
        padding: 0 10px 0 10px;

        height: 200vh;

        display: grid;
        grid-template-rows: 100vh 100vh;
    }

    .headerAndLinks {
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    h1 {
        font-size: 5em;
    }

    .links {
        margin-top: 15px;
    }

    header p {
        grid-row: 2;
        width: 100%;
        display: block;
    }

    section {
        grid-column: 1 / 13;
    }

    footer { grid-column: 1 / 13; }
}